@tailwind base;
@tailwind components;
@tailwind utilities;

/* .inside {
	min-height: 1000px;
} */

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

#about-page ul {
	list-style-type: circle;
}
